@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --ghost-white: #f8f9fd;
    --fire-bush: #e99c2f;
    --granite-gray: #626a6a;
    --baltic-sea: #33383c;
    --trans: all 0.5s ease-in-out;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    line-height: 1.5;
    font-weight: 400;
    height: 100vh;
}


img {
    display: block;
    width: 100%;
    height: 65vh;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: rgb(228, 226, 226) !important;
    z-index: 1;
}


.navbar-toggler {
    color: white !important;
    background-color: #e48154;
}

.navbar-brand {
    font-size: 33px;
    font-weight: 700;
    color: rgb(49, 47, 47) !important;
    margin-left: 1% !important;
}

.navbar-nav {

    padding-left: 50%;
}

.nav-item a {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    font-weight: 800;
    color: #e48154 !important;
}



.getstarted a {
    color: white !important;

}

.nav-link:hover {
    background: #000;
    border-radius: 15px;

}

button {
    cursor: pointer;
    outline: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.text {
    font-size: 1.1rem;
    margin: 1.2rem 0;
    line-height: 1.7;
    opacity: 0.7;
}

end of resets and reusable stylings

/* header */
header {
    background: var(--ghost-white);
}

header .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}





.banner {
    flex: 1;
    margin-top: 5rem;
    text-align: center;
}

.banner>div {
    /* margin: 3rem 0; */
}

.banner .text {
    font-weight: 500;
    font-size: 1.15rem;
    opacity: 0.45;
}

.banner-content {
    /* padding-top: 6%; */
}

.USO {
    width: 100%;

}

#uso {
    width: 88%;
    padding-right: 4%;
}

.btns {
    margin: 1.5rem 1rem;
}

.btn {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid var(--fire-bush);
    background: var(--fire-bush);
    color: #fff;
    padding: 0.95rem 0;
    letter-spacing: 2px;
    display: block;
    width: 180px;
    margin: 0.6rem;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

.btns .btn:last-child {
    color: var(--fire-bush);
    background: transparent;
}

.btns .btn:first-child:hover {
    background: transparent;
    color: var(--fire-bush);
}

.btns .btn:last-child:hover {
    background: var(--fire-bush);
    color: #fff;
}

/* products */
.products h2 {
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--granite-gray);
    margin-bottom: 3rem;
    padding-top: 5%;
}

.product-item {
    margin: 1rem 0;
}

.product-img {
    background: var(--ghost-white);
    padding: 3rem 0;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.product-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 60%;
    margin: 0 auto;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

.product-img:hover img {
    opacity: 0.8;
}

.product-content {
    padding: 1.6rem 0;
    text-align: center;
}

.add-to-cart-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: none;
    padding: 0.75rem 1.2rem;
    font-size: 1.05rem;
    background-color: var(--baltic-sea);
    color: #fff;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
    opacity: 0;
}

.product-item:hover .add-to-cart-btn {
    opacity: 1;
}

.add-to-cart-btn .fas {
    margin-right: 0.4rem;
}

.add-to-cart-btn:hover {
    background-color: #23272a;
}

.add-to-cart-btn:hover {
    color: var(--fire-bush);
}

.product-name {
    font-size: 1.3rem;
    color: var(--baltic-sea);
}

.product-category {
    margin: 0.8rem 0;
    display: inline-block;
    font-weight: 500;
    background: var(--fire-bush);
    color: #fff;
    padding: 0.05rem 1.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    letter-spacing: 2px;
}

.product-price {
    font-size: 1.15rem;
    font-weight: 500;
    opacity: 0.6;
}

footer {
    background-color: var(--baltic-sea);
}

.footer-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/footer-banner.jpg) center/cover no-repeat;
    padding: 3rem 0;
}

.footer-banner {
    color: #fff;
    text-align: center;

}

.footer-banner h2 {
    font-size: 2.4rem;
}

.footer-banner .btn {
    margin-top: 2rem;
}

.footer-banner .btn:hover {
    background: #fff;
    color: var(--fire-bush);
    background: transparent;
}

footer>.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons {
    display: flex;
    padding: 3rem 0;
}

.social-icons a {
    color: var(--granite-gray);
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

.social-icons a:hover {
    color: #fff;
}






/* Media Queries for responsiveness */

@media screen and (min-width: 375px) {
#sharp{
    padding-top: 12%;
}
.btns{
    margin-left:4rem;
}
.banner-img{
    margin-left: 9%;
}
}

@media screen and (min-width: 480px) {

    /* header */
    .btns button {
        display: inline-block;
    }

    .btns button:first-child {
        margin-right: 0.4rem;
    }
    .navbar-nav{
        text-align: center;
        padding-right: 65%;
    }
    .banner-img{
        margin-left: 9%;
    }
}

@media screen and (min-width: 680px) {
    .navbar {
        padding: 1.5rem 3rem !important;
    }

    .cart-container {
        width: 480px;
        left: auto;
        right: 3rem;
    }

    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        padding: 1.5rem 6rem !important;
    }

    .cart-container {
        right: 6rem;
    }

    .banner {
        padding-top: 0;
        display: grid;
        grid-template-columns: 55% 45%;
        align-content: center;
    }

    .banner-content {
        text-align: left;
    }

    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-banner {
        text-align: left;
    }

    .footer-banner .text {
        width: 60%;
    }

    .footer-banner .btn {
        margin-left: 0;
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        padding: 1.5rem 14rem !important;
    }

    .cart-container {
        right: 14rem;
    }

    .banner-content h1 {
        font-size: 3.5rem;
    }

    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}